<!-- Todas as imagens foram adquiridas no site: https://unsplash.com/t/people -->
<div class="mt-16 ml-16">
    <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput type="text">
        <mat-icon matSuffix>
            search
        </mat-icon>
    </mat-form-field>
</div>

<mat-list>
    <h3 mat-subheader>Profiles</h3>
    <mat-list-item *ngFor="let profile of profiles" class="list-item" (click)="picked.emit(profile.id)">
        <img mat-list-avatar
            src="{{profile.profilePicture}}">
        <h4 mat-line>{{profile.name}} {{profile.lastName}}</h4>
        <p mat-line>{{profile.email}}</p>
    </mat-list-item>
</mat-list>