<div fxLayout="column">
    <mat-toolbar color="primary" fxLayout="column" fxFlex>
        <mat-toolbar-row>
            <div fxLayout="row" fxLayoutGap="4px" fxLayoutAlign="none center" fxFlex="40" fxFlex.lt-md="30">
                <mat-icon>person</mat-icon>
                <h1>Profiles</h1>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div *ngIf="isProfilesLoading$ | async" class="mt-16" fxLayout="row" fxLayoutAlign="center none" fxFlexFill>
        <mat-spinner></mat-spinner>
    </div>

    <div fxLayout="row" [fxHide]="isProfilesLoading$ | async">
        <app-profile-list fxFlex (select)="profileSelected($event)" [profiles]="profiles$ | async"></app-profile-list>
        <mat-divider [vertical]="true"></mat-divider>
        <div fxLayout="column" *ngIf="isSelected" fxFlex>
            <div fxLayout="row" fxLayoutAlign="end center">
                <button mat-icon-button (click)="isSelected = false">
                    <mat-icon color="warn">close</mat-icon>
                </button>
            </div>

            <div *ngIf="isProfileDetailLoading$ | async" fxFlexFill fxLayoutAlign="center none">
                <mat-spinner></mat-spinner>
            </div>

            <app-profile-details [fxHide]="isProfileDetailLoading$ | async" [profile]="profileDetail$ | async"
                (save)="saveChanges($event)" [updating]="isUpdatingProfile$ | async">
            </app-profile-details>
        </div>
    </div>
</div>